In [1]:
import pandas as pd

In [4]:
df_math = pd.read_csv("student-mat.csv",sep=";")
df_por = pd.read_csv("student-por.csv",sep=";")

In [5]:
common_cols = ["school", "sex", "age", "address", "famsize", "Pstatus",
               "Medu", "Fedu", "Mjob", "Fjob", "reason", "nursery", "internet"]

df_merged = pd.merge(df_math, df_por, on=common_cols, suffixes=('_math', '_por'))
print("Merged dataset shape:", df_merged.shape)

Merged dataset shape: (382, 53)

In [6]:
binary_cols = ['schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']

for col in binary_cols:
    df_math[col] = df_math[col].map({'yes': 1, 'no': 0})

In [11]:
features = ['Medu','Fedu','traveltime','studytime','failures','schoolsup','famsup','paid',
            'activities','nursery','higher','internet','romantic','famrel','freetime','goout',
            'Dalc','Walc','health','absences','G1','G2']
df_math[features]

,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,4,4,2,2,0,1,0,0,0,1,...,0,4,3,4,1,1,3,6,5,6
1,1,1,1,2,0,0,1,0,0,0,...,0,5,3,3,1,1,3,4,5,5
2,1,1,1,2,3,1,0,1,0,1,...,0,4,3,2,2,3,3,10,7,8
3,4,2,1,3,0,0,1,1,1,1,...,1,3,2,2,1,1,5,2,15,14
4,3,3,1,2,0,0,1,1,0,1,...,0,4,3,2,1,2,5,4,6,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2,2,1,2,2,0,1,1,0,1,...,0,5,5,4,4,5,4,11,9,9
391,3,1,2,1,0,0,0,0,0,0,...,0,2,4,5,3,4,2,3,14,16
392,1,1,1,1,3,0,0,0,0,0,...,0,5,5,3,3,3,3,3,10,8
393,3,2,3,1,0,0,0,0,0,0,...,0,4,4,1,3,4,5,0,11,12
394,1,1,1,1,0,0,0,0,0,1,...,0,3,2,3,3,3,5,5,8,9

In [12]:
X = df_math[features]
Y = df_math['G3']